<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome, {{name}}!</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="top-bar">
      <a href="/employeeData" class="members-btn">Members</a>
    </div>
    <div class="container">
      <div class="info-section">
        <img src="register.gif" alt="Boy Working" />
        <h2>Welcome, {{name}}!</h2>
      </div>
    </div>
  </body>
</html>
